<div
  class="lg:block hidden top-0 left-0 transform h-full min-w-[16rem] me-6 card rounded-none lg:rounded-md fc-offcanvas-open:translate-x-0 lg:z-0 z-50 fixed lg:static lg:translate-x-0 -translate-x-full transition-all duration-300 fc-offcanvas"
  tabindex="-1">
  <div>
    <ul class="menu bg-base-200 rounded-box w-56">
      <li>
        <a>
          <ng-icon name="heroDocument" size="1.0em" class="shrink-0"></ng-icon>
          Meine Dateien
        </a>
      </li>
      <li>
        <a>
          <ng-icon name="heroStar" size="1.0em" class="size-4"></ng-icon>
          Favoriten
        </a>
      </li>
      <li>
        <a>
          <ng-icon name="heroArrowPath" size="1.0em" class="size-4"></ng-icon>
          Zuletzt benutzt
        </a>
      </li>
      <li>
        <a>
          <ng-icon name="heroTrashSolid" size="1.0em" class="shrink-0" color="black"></ng-icon>
          Papierkorb
        </a>
      </li>
    </ul>
  </div>
</div>
