#ladon-error-pages:not(:empty) {
	overflow-y: hidden;
	height: calc(100% - var(--mf-main-nav-height) * 1px);
}

.custom-templates {
	height: 100%;
	padding: var(--ladon-mf-padding);

	text-align: center;
	line-height: 1.5;

	figure {
		margin: 3rem auto 3rem;
		width: clamp(200px, 60%, 520px);
	}

	& > .card {
		overflow-y: auto;
	}

	h1 {
		margin-bottom: 0.5rem;

		& + * {
			color: var(--ladon-primary);
		}
	}

	&__controls {
		margin: 1.5rem auto 3rem;
		display: flex;

		& > button {
			margin: 0 0.25rem 0;
		}
	}
}
