div[id="ladon-error-pages"]:not(:empty) {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - var(--mf-main-nav-height) * 1px);

	h1 {
		font-family: var(--ladon-system-font-stack);
		color: var(--ladon-primary);
		font-size: 6em;
		text-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);
		margin-bottom: 0.25em;
	}
}
