#logo {
	--ladon-theme-logo-width: 100px;
	--ladon-theme-logo-height: 45px;
	--ladon-theme-logo-asset: url(assets/svg/ladon-slogan.svg);

	background: transparent var(--ladon-theme-logo-asset) center center no-repeat;
	background-size: contain;

	&:hover {
		opacity: 0.5;
	}
}
