logs
*.log

node_modules

.settings/
.vscode/


.nx/cache
.nx/workspace-data
.angular
.idea
tmp/
dist/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
