.avatar {
  --avatar-size: 1.2lh;
}

.input {
  width: initial;
  flex-grow: 1;
}

.status {
  width: 1rem;
  height: 1rem;

  &-success {
    --color-base-content: var(--color-success);
  }
}

div:has(> .avatar):hover {
  .avatar {
    --outer-border-color: var(--color-blue-700);
  }
}
