<div class="flex gap-4 py-8">
  <div
    class="avatar self-center"
    [ngClass]="user?.status ? 'status-success' : 'status-neutral'"
    [attr.data-alias]="user?.name | alias"></div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">{{ user?.name }}</h2>
      <code class="text-sm">{{ user?.id }}</code>
    </div>

    <button (click)="openDialogType('password')" class="btn btn-outline btn-primary btn-sm">Passwort ändern</button>
  </div>
</div>

<form class="flex flex-col gap-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label class="input w-full" for="name">
    <span class="label">Name</span>
    <input type="text" id="name" formControlName="name" />
  </label>

  <label class="input w-full" for="email">
    <span class="label">E-Mail</span>
    <input type="email" id="email" formControlName="email" />
  </label>

  <input hidden readonly type="text" formControlName="id" />

  <label>
    Aktiv
    <input type="checkbox" checked="checked" class="toggle toggle-primary" formControlName="status" />
  </label>

  <fieldset class="border-t border-gray-200">
    <legend class="font-semibold mb-4 pr-4">Rollen</legend>
    <div class="flex flex-wrap gap-2">
      @for (role of patchedRoles(); track $index) {
        <app-pill
          [class]="'btn-primary'"
          [label]="role"
          (labelEmit)="onLabelEmit('role', $event)"
          (deleteEmit)="removeByType('roleDeletion', role)"></app-pill>
      }

      @for (role of userForm.get("roles")?.value ?? []; track $index) {
        <app-pill
          [label]="role['id']"
          (labelEmit)="onLabelEmit('role', $event)"
          (deleteEmit)="removeByType('role', role)"></app-pill>
      }
    </div>
    <div class="text-right">
      <button class="btn btn-primary" type="button" (click)="openDialogType('role')">
        <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
      </button>
    </div>
  </fieldset>

  <fieldset class="border-t border-gray-200">
    <legend class="font-semibold mb-4 pr-4">Berechtigungen</legend>
    <div class="flex flex-wrap gap-2">
      @for (permission of patchedPermissions(); track $index) {
        <app-pill
          [class]="'btn-primary'"
          [label]="permission.permissionId"
          (labelEmit)="onLabelEmit('permission', $event)"
          (deleteEmit)="removeByType('permissionDeletion', permission)"></app-pill>
      }

      @for (permission of userForm.get("permissions")?.value ?? []; track $index) {
        <app-pill
          [label]="permission['permissionId']"
          (labelEmit)="onLabelEmit('permission', $event)"
          (deleteEmit)="removeByType('permission', permission)"></app-pill>
      }
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-primary" (click)="openDialogType('permission')">
        <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
      </button>
    </div>
  </fieldset>

  <div class="flex gap-4 justify-end">
    <button type="button" class="btn btn-outline text-red-700 border-red-700" (click)="deleteUser()">Entfernen</button>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid || userForm.pristine">Speichern</button>
  </div>
</form>

<app-dialog [title]="dialogTitle" (closeEmit)="closeDialogEmit()">
  <!-- <app-filter></app-filter> -->
  @if (dialogTitle.includes("Rolle")) {
    <div class="flex flex-col gap-2">
      @for (role of mappedRoleOptions(); track $index) {
        <div class="flex items-center gap-2 hover:cursor-pointer">
          <input
            #roleCheckbox
            class="checkbox checkbox-primary"
            type="checkbox"
            [id]="role.name"
            [checked]="role.active || checkFormPatch('role', role, userForm)"
            [disabled]="role.active"
            (click)="updateByType($event, 'role', role)" />
          <label for="{{ role.name }}" class="grow">{{ role.name }}</label>
        </div>
      }
    </div>
  }

  @if (dialogTitle.includes("Berechtigung")) {
    <div class="flex flex-col gap-2">
      @for (permission of mappedPermissionOptions(); track $index) {
        <div class="flex items-center gap-2 hover:cursor-pointer">
          <input
            #permissionCheckbox
            class="checkbox checkbox-primary"
            type="checkbox"
            [id]="permission.permissionId"
            [checked]="permission.active || checkFormPatch('permission', permission, userForm)"
            [disabled]="permission.active"
            (click)="updateByType($event, 'permission', permission)" />
          <label for="{{ permission.permissionId }}" class="grow">{{ permission.permissionId }}</label>
        </div>
      }
    </div>
  }

  @if (dialogTitle.includes("Passwort")) {
    <form class="flex flex-col gap-4" [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
      <label class="input w-full" for="password">
        <span class="label">Neues Passwort*</span>
        <input type="password" id="password" formControlName="password" />
      </label>

      <label class="input w-full" for="passwordConfirm">
        <span class="label">Passwort bestätigen*</span>
        <input type="password" id="passwordConfirm" formControlName="passwordConfirm" />
      </label>

      @if (passwordForm.dirty) {
        <div class="flex flex-col gap-1">
          @if (passwordForm.get("password")?.errors?.["required"]) {
            <p class="text-sm text-red-700">Passwort ist ein Pflichtfeld.</p>
          }

          @if (passwordForm.get("password")?.errors?.["minlength"]) {
            <p class="text-sm text-red-700">Passwort muss mindestens 4 Zeichen lang sein.</p>
          }

          @if (passwordForm.errors?.["notSame"] && passwordForm.get("passwordConfirm")?.dirty) {
            <p class="text-sm text-red-700">Passwörter stimmen nicht überein.</p>
          }
        </div>
      }

      <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid || passwordForm.pristine">
        Passwort ändern
      </button>
    </form>
  }
</app-dialog>
