<lib-searchbar></lib-searchbar>
<button class="flex gap-2 center px-4 py-2 bg-blue-900 text-white rounded-md hover:bg-blue-950 focus:outline-none">
  <ng-icon name="heroPlusCircle" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
  <span class="hidden lg:block">Neues Verzeichnis erstellen</span>
</button>

<ul>
  @for (user of store.users(); track user.id) {
    <li [routerLink]="user.id" class="flex flex-row items-center gap-4 py-2 px-2">
      <div class="avatar" [attr.data-alias]="user.name | alias"></div>
      {{ user.name }}
      {{ user.email }}
      {{ user.status }}
    </li>
  }
</ul>

<div>
  <h2>Details</h2>
  <router-outlet></router-outlet>
</div>
