<h1>Details</h1>

<div class="flex flex-col gap-4">
  <div class="avatar" [attr.data-alias]="user?.name | alias"></div>

  {{ user?.name }}
  <code>{{ user?.id }}</code>
  <button (click)="changePassword(user?.id)" class="btn btn-outline">Passwort ändern</button>
</div>

<form class="flex flex-col gap-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label class="input" for="name">
    <span class="label">Name</span>
    <input type="text" id="name" formControlName="name" />
  </label>

  <label class="input" for="email">
    <span class="label">E-Mail</span>
    <input type="email" id="email" formControlName="email" />
  </label>

  <input hidden readonly type="text" formControlName="id" />

  <label>
    Aktiv
    <input type="checkbox" checked="checked" class="toggle toggle-primary" formControlName="status" />
  </label>

  <h2>Rollen</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-right">Aktion</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2" class="text-right">
          <details class="dropdown dropdown-end" (click)="getRolesOrRetrieve()">
            <summary class="btn btn-primary">
              <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm mt-2">
              @for (role of filteredRoles(); track $index) {
                <li (click)="addToMap('role', role)">
                  <a>{{ role.name }}</a>
                </li>
              }
            </ul>
          </details>
        </td>
      </tr>
    </tfoot>
    <tbody>
      @for (role of userRoles; track $index) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td [routerLink]="['../../roles', role]">{{ role }}</td>
          <td class="text-right">
            <button class="btn">
              <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>
          </td>
        </tr>
      }

      @for (role of userForm.get("roles")?.value ?? []; track $index) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td>{{ role?.["id"] }}</td>
          <td class="text-right">
            <button class="btn">
              <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <h2>Berechtigungen</h2>
  <table class="table text-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-right">Aktion</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2" class="text-right">
          <details class="dropdown dropdown-top dropdown-end" (click)="getPermissionsOrRetrieve()">
            <summary class="btn btn-primary">
              <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm mb-2">
              @for (permission of filteredPermissions(); track $index) {
                <li (click)="addToMap('permission', permission)">
                  <a>{{ permission.permissionId }}</a>
                </li>
              }
            </ul>
          </details>
        </td>
      </tr>
    </tfoot>
    <tbody>
      @for (permission of userPermissions; track $index) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td [routerLink]="['../../permissions', permission.permissionId]">{{ permission.permissionId }}</td>
          <td class="text-right">
            <button class="btn">
              <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>
          </td>
        </tr>
      }

      @for (permission of userForm.get("permissions")?.value ?? []; track $index) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td>{{ permission?.["permissionId"] }}</td>
          <td class="text-right">
            <button class="btn">
              <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
