<div class="flex justify-between items-center">
  <lib-searchbar></lib-searchbar>
  <button class="btn btn-primary" (click)="createUser()">
    <ng-icon name="heroPlusCircle" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
    <span class="hidden lg:block">Neuen Nutzer erstellen</span>
  </button>
</div>

<ul>
  @for (user of store.users(); track user.id) {
    <li class="flex flex-row items-center gap-4 py-2">
      <div class="flex flex-grow gap-4 cursor-pointer" [routerLink]="user.id">
        <div class="avatar shrink-0 transition-colors" [attr.data-alias]="user.name | alias"></div>
        <span class="flex-grow">{{ user.name }}</span>
        <span class="flex-grow">{{ user.email }}</span>
      </div>
      @if (user.status) {
        <div aria-label="success" class="status status-success shrink-0"></div>
      } @else {
        <div aria-label="success" class="status status-neutral shrink-0"></div>
      }
      <button class="btn" (click)="deleteUser(user.id)">
        <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
      </button>
    </li>
  }
</ul>

<div>
  <router-outlet></router-outlet>
</div>

<app-dialog title="Neuen Nutzer anlegen">
  <form [formGroup]="userAddGroup" class="flex flex-col gap-4" (ngSubmit)="onAddUser()">
    <label class="input" for="name">
      <span class="label">Name*</span>
      <input type="text" id="name" required formControlName="name" />
    </label>

    <label class="input" for="email">
      <span class="label">E-Mail*</span>
      <input type="email" id="email" required formControlName="email" />
    </label>

    <label class="input" for="password">
      <span class="label">Passwort*</span>
      <input type="password" id="password" required formControlName="password" />
    </label>

    <div class="flex justify-around items-center gap-4">
      <button class="btn btn-outline grow" type="reset" (click)="closeDialog()">Abbrechen</button>
      <button class="btn grow" type="submit">Erstellen</button>
    </div>
  </form>
</app-dialog>
