
<div class="h-full flex flex-col" >
  <div class="flex-1 overflow-y-auto min-h-0">

    <div cdkDropList
         #dropList="cdkDropList"
         [cdkDropListData]="documents"
         class="example-list h-full"
         (cdkDropListDropped)="drop($event)">
      <table class="table table-zebra w-full">
        <tbody>
          @for (document of clipboardStore.selectedDocuments(); track $index) {
            <tr>
              <td class="w-10">
                <div class="w-6 h-6">
                  @if (document.key) {
                    <img src="{{ document.key | fileicon }}" class="w-6 h-6"/>
                  }
                </div>
              </td>
              <td class="font-medium">
                <div class="flex items-center gap-2">
                  <span class="truncate max-w-xs">{{ document.name }}</span>
                </div>
              </td>
              <td class="text-slate-600">
                {{ document.size | filesize }}
              </td>
            </tr>
          }
        </tbody>
      </table>

      @if (clipboardStore.isEmpty()) {
        <div class="empty-state">
          <ng-icon name="heroDocumentPlus"></ng-icon>
          <p>Ziehen Sie Dokumente hierher</p>
        </div>
      }
    </div>
  </div>


  <div class="grid grid-cols-2 gap-4">
    <button
            [disabled]="!clipboardStore.canGeneratePdf() || clipboardStore.actionInProgress()"
            (click)="action('pdf')"
            class="btn btn-outline btn-primary btn-sm w-full">
      <ng-icon name="heroDocumentText"></ng-icon>
      PDF erstellen
    </button>
    <button [disabled]="!clipboardStore.canCreateZip() || clipboardStore.actionInProgress()"
            (click)="action('zip')"
            class="btn btn-outline btn-primary btn-sm w-full">
      <ng-icon name="heroArchiveBox"></ng-icon>
      Auswahl runterladen
    </button>

    <button (click)="reset()"
            [disabled]="clipboardStore.actionInProgress()"
            class="btn btn-outline btn-secondary btn-sm w-full">
      Auswahl zurücksetzen
    </button>
  </div>

</div>
