@if (isLoading$()) {
  <app-spinner></app-spinner>
} @else {
  <ul role="list" class="divide-y divide-gray-500/20">
    @for (item of pluginList$() | searchfilter: filterText$(); track item.id) {
      <li
        (click)="onSelect(item)"
        class="flex cursor-pointer py-2 px-4 items-center border-l-4 hover:bg-primary/50"
        [ngClass]="item === selectedItem ? 'bg-primary/10 border-l-primary' : 'border-transparent'">
        <div class="grow">
          <h3>{{ item.name }}</h3>
          <div class="mt-2 flex gap-2">
            @if (item.current === item.version) {
              @if (item.current) {
                <app-pill
                  [class]="'bg-success/30 border-success'"
                  [attr.datacaption]="'PLUGIN.VERSION' | translate"
                  [label]="item.current"
                  [isDeletable]="false">
                </app-pill>
              }
            } @else {
              @if (item.current) {
                <app-pill [class]="'bg-success/30 border-success'" [label]="item.current" [isDeletable]="false">
                </app-pill>
              }

              <app-pill
                [class]="item.canUpdate ? 'bg-primary/30 border-primary' : 'bg-success/30 border-success'"
                [attr.datacaption]="
                  item.canUpdate ? ('PLUGIN.CAN_UPDATE' | translate) : ('PLUGIN.CAN_INSTALL' | translate)
                "
                [label]="item.version"
                [isDeletable]="false"></app-pill>
            }
          </div>
        </div>
        @if (!item.canInstall && !item.canUpdate) {
          <ng-icon name="heroCheck" size="1.25rem" style="color: var(--color-success)"></ng-icon>
        } @else {
          <ng-icon name="heroChevronRight" size="1.25rem" style="color: currentColor" class="opacity-30"></ng-icon>
        }
      </li>
    }
  </ul>
}
