<div class="flex justify-between items-center gap-4">
  <app-filter (outputTerm)="onFilterTerm($event)"></app-filter>
  <button class="btn btn-primary" (click)="createPermission()">
    <ng-icon name="heroPlusCircle" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
    <span class="hidden sm:block">Neue Rechte anlegen</span>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="hidden xl:table-cell">Wert</th>
      <th class="text-right">Aktion</th>
    </tr>
  </thead>
  <tbody>
    @for (permission of filteredPermissions; track permission.permissionId) {
      <tr class="cursor-pointer hover:bg-gray-100">
        <td>
          <div class="flex items-center gap-4">
            <div class="avatar shrink-0 transition-colors" [attr.data-alias]="permission.permissionId | alias"></div>
            <div class="flex flex-col">
              {{ permission.permissionId }}
              @if (permission.description) {
                <span class="text-xs opacity-70">{{ permission.description }}</span>
              }
            </div>
          </div>
        </td>
        <td class="hidden xl:table-cell">
          <pre><code>{{ permission.value }}</code></pre>
        </td>
        <td class="text-right">
          <button class="btn cursor-pointer" (click)="duplicatePermission(permission)">
            <ng-icon name="heroDocumentDuplicate" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
          </button>

          <button class="btn text-red-700 ml-2 cursor-pointer" (click)="deletePermission(permission.permissionId)">
            <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

<app-dialog title="Neue Rechte anlegen">
  <form [formGroup]="permissionAddGroup" class="flex flex-col gap-4" (ngSubmit)="onAddPermission()">
    <div class="input">
      <label for="permissionId">Identifikation*</label>
      <input type="text" id="permissionId" required formControlName="permissionId" />
    </div>

    <div class="input pr-0">
      <label for="allowed">Art*</label>
      <select id="allowed" required formControlName="allowed" class="select w-full">
        <option value="true">Positiv</option>
        <option value="false">Negativ</option>
      </select>
    </div>

    <div class="input">
      <label for="description">Beschreibung*</label>
      <input type="text" id="description" required formControlName="description" />
    </div>

    <div class="input pr-0">
      <label for="operation">Operation*</label>
      <select id="operation" required formControlName="operation" class="select w-full">
        <option value="CREATE_OBJECT">CREATE_OBJECT</option>
        <option value="READ_OBJECT">READ_OBJECT</option>
        <option value="WRITE_OBJECT">WRITE_OBJECT</option>
        <option value="DELETE_OBJECT">DELETE_OBJECT</option>
        <option value="WIPE_OUT_OBJECT">WIPE_OUT_OBJECT</option>
        <option value="CREATE_BUCKET">CREATE_BUCKET</option>
        <option value="READ_BUCKET">READ_BUCKET</option>
        <option value="WRITE_BUCKET">WRITE_BUCKET</option>
        <option value="DELETE_BUCKET">DELETE_BUCKET</option>
        <option value="LADON_UI">LADON_UI</option>
        <option value="ADD_USER">ADD_USER</option>
        <option value="LIST_USER">LIST_USER</option>
        <option value="DELETE_USER">DELETE_USER</option>
        <option value="EDIT_PERMISSIONS">EDIT_PERMISSIONS</option>
        <option value="SHOW_PERMISSIONS">SHOW_PERMISSIONS</option>
      </select>
    </div>

    <div class="input pr-0">
      <label for="type">Typ*</label>
      <select id="type" required formControlName="type" class="select w-full">
        <option value="ANT">ANT</option>
        <option value="REGEX">REGEX</option>
        <option value="EQUALS">EQUALS</option>
        <option value="SPEL">SPEL</option>
        <option value="GLOB">GLOB</option>
      </select>
    </div>

    <div class="input">
      <label for="value">Wert*</label>
      <input type="text" id="value" required formControlName="value" />
    </div>

    <div class="flex justify-around items-center gap-4">
      <button class="btn btn-outline grow" type="reset" (click)="closeDialog()">Abbrechen</button>
      <button class="btn grow" type="submit" [disabled]="permissionAddGroup.invalid">Erstellen</button>
    </div>
  </form>
</app-dialog>
