<div class="flex justify-between items-center gap-4">
  <app-filter (outputTerm)="onFilterTerm($event)"></app-filter>
  <button class="btn btn-primary" (click)="createPermission()">
    <ng-icon name="heroPlusCircle" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
    <span class="hidden sm:block">Neue Rechte anlegen</span>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="hidden xl:table-cell">Wert</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    @for (permission of filteredPermissions; track permission.permissionId) {
      <tr class="cursor-pointer hover:bg-gray-100">
        <td>
          <div class="flex items-center gap-4">
            <div class="avatar shrink-0 transition-colors" [attr.data-alias]="permission.permissionId | alias"></div>
            <div class="flex flex-col">
              {{ permission.permissionId }}
              @if (permission.description) {
                <span class="text-xs opacity-70">{{ permission.description }}</span>
              }
            </div>
          </div>
        </td>
        <td class="hidden xl:table-cell">
          <pre><code>{{ permission.value }}</code></pre>
        </td>
        <td class="text-right">
          <button class="btn" (click)="deletePermission(permission.permissionId)">
            <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            <span class="hidden lg:block">Entfernen</span>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

<app-dialog title="Neue Rechte anlegen"></app-dialog>
