<div *ngIf="error">
  Keine PDF Vorschau verfügbar
</div>


<div *ngIf="isLoading">
  <progress value="{{progressCount}}" max="100"> {{ progressCount }}</progress>
</div>

<ng-container *ngIf="appIsReady && pdfurl">

  <ngx-extended-pdf-viewer [src]="pdfurl"
                           #pdfViewer
                           [customToolbar]="customLadonToolbar"
                           (pdfDownloaded)="onEvent('pdfDownloaded', $event)"
                           (pdfLoaded)="onEvent('pdfLoaded', $event)"
                           (pdfLoadingFailed)="onEvent('pdfLoadingFailed', $event)"
                           (progress)="onEvent('onProgress', $event)"
                           (pageChange)="onEvent('pageChange', $event)"
  >
  </ngx-extended-pdf-viewer>
</ng-container>

<ng-template #customLadonToolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-paging-area></pdf-paging-area>
    </div>

    <pdf-zoom-toolbar ></pdf-zoom-toolbar>

    <div id="toolbarViewerRight">
      <div class="toolbar-controls">
        <button class="transparent" (click)="reloadPDF()">
          <span class="webix_icon wxi-sync"></span>
        </button>
        <pdf-open-file></pdf-open-file>
        <pdf-presentation-mode></pdf-presentation-mode>
        <pdf-print></pdf-print>
        <pdf-download></pdf-download>
        <div class="verticalToolbarSeparator hiddenSmallView"></div>
        <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
        <div class="toolbar-control">
          <button class="close"
                  size="small"
                  (click)="close()">
            <span></span>
          </button>
        </div>
      </div>
    </div>

  </div>
</ng-template>

