//
// Notice
//

// Light mode
@include color-mode(light) {
    .notice.bg-light-warning {
        background-color: #FFF9F4 !important;
        border-color: #F89C47 !important;

        i.i-warning {
            color: #F89C47;
        }
    }
}