@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, winter, dracula;
  root: ":root";
  logs: true;
}
@plugin "@tailwindcss/typography";
@source "../../ui/src/app";
@source "../../wc/clipboard/src/app";
