<div class="flex items-center gap-4 p-4 justify-between border-b sticky top-0 z-10 bg-white/95 backdrop-blur-xs">
  <div class="flex gap-4">
    <lib-searchbar></lib-searchbar>

    <div class="flex items-center gap-2 text-sm">
      Favoriten
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" (change)="toggleFavorites($event)" />
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-300 transition-all duration-300"></div>
        <div
          class="absolute left-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-5"></div>
      </label>
    </div>
  </div>

  <button
    (click)="dialogComponent?.openDialog()"
    class="flex gap-2 center px-4 py-2 bg-blue-900 text-white rounded-md hover:bg-blue-950 focus:outline-none">
    <ng-icon name="heroPlusCircle" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
    <span class="hidden lg:block">Neues Verzeichnis erstellen</span>
  </button>
</div>

<div class="grid grid-cols-[2fr_1fr]">
  <ul role="list" class="divide-y divide-gray-100 gap-x-6 py-4 grow">
    @for (bucket of bucketsList(); track bucket.id) {
      <li
        [ngClass]="{ active: selectedBucket && selectedBucket.id === bucket.id }"
        class="flex justify-between p-4 cursor-pointer"
        (click)="selectBucket(bucket)"
        (dblclick)="openBucket()">
        <div class="flex min-w-0 gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" width="24" height="24" class="shrink-0">
            <g>
              <rect x="32" y="16" width="28" height="15" rx="2.5" ry="2.5" style="fill: #4f64ee"></rect>
              <path
                d="M59.7778,61H12.2222A6.4215,6.4215,0,0,1,6,54.3962V17.6038A6.4215,6.4215,0,0,1,12.2222,11H30.6977a4.6714,4.6714,0,0,1,4.1128,2.5644L38,24H59.7778A5.91,5.91,0,0,1,66,30V54.3962A6.4215,6.4215,0,0,1,59.7778,61Z"
                style="fill: #6678e0"></path>
              <path
                d="M8.015,59c2.169,2.3827,4.6976,2.0161,6.195,2H58.7806a6.2768,6.2768,0,0,0,5.2061-2Z"
                style="fill: #6678e0"></path>
            </g>
          </svg>

          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold">{{ bucket.id }}</p>
            <p class="truncate text-xs text-gray-500">{{ bucket.created | date: "HH:mm:ss" }}</p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          @if (bucket.favourite) {
            <span
              class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
              >Favorit</span
            >
          } @else {
            <p class="text-xs/5">&nbsp;</p>
          }
          <p class="text-xs/5 text-gray-500">
            <time [attr.datetime]="bucket.created | date: dateFormat">{{ bucket.created | date: dateFormat }}</time>
          </p>
        </div>
      </li>
    }
  </ul>

  <div class="border-l">
    <div>
      <!--<img src="public/png/1.png" alt="" />-->
      <div class="h-50 [&>svg]:h-full [&>svg]:mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
          <g>
            <rect x="32" y="16" width="28" height="15" rx="2.5" ry="2.5" style="fill: #4f64ee"></rect>
            <path
              d="M59.7778,61H12.2222A6.4215,6.4215,0,0,1,6,54.3962V17.6038A6.4215,6.4215,0,0,1,12.2222,11H30.6977a4.6714,4.6714,0,0,1,4.1128,2.5644L38,24H59.7778A5.91,5.91,0,0,1,66,30V54.3962A6.4215,6.4215,0,0,1,59.7778,61Z"
              style="fill: #6678e0"></path>
            <path
              d="M8.015,59c2.169,2.3827,4.6976,2.0161,6.195,2H58.7806a6.2768,6.2768,0,0,0,5.2061-2Z"
              style="fill: #6678e0"></path>
          </g>
        </svg>
      </div>
    </div>
    <div class="grid grid-cols-[1fr_2fr] gap-2 p-4">
      <div class="text-sm text-gray-500">Name</div>
      <div class="text-sm">{{ bucketStats()?.name }}</div>
      <div class="text-sm text-gray-500">Größe</div>
      <div class="text-sm">{{ bucketStats()?.size }}</div>
      <div class="text-sm text-gray-500">Ordner</div>
      <div class="text-sm">{{ bucketStats()?.folderCount }}</div>
      <div class="text-sm text-gray-500">Datei</div>
      <div class="text-sm">{{ bucketStats()?.fileCount }}</div>
      <div class="text-sm text-gray-500">Geändert</div>
      <!-- <div class="text-sm">{{ bucketStats()?.lastModified | date: dateFormat }}</div>-->
      <div class="flex items-center gap-2 text-sm text-gray-500">
        Favoriten
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer" [attr.checked]="bucketStats()?.favourite ? true : null" />
          <div
            class="w-11 h-6 bg-gray-200 rounded-full peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-300 transition-all duration-300"></div>
          <div
            class="absolute left-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-5"></div>
        </label>
      </div>
    </div>
  </div>
</div>

<app-dialog title="Neues Verzeichnis anlegen">
  <form [formGroup]="bucketAddGroup" class="flex flex-col gap-4" (ngSubmit)="onAddBucket()">
    <label class="input" for="bucket">
      <span class="label">Verzeichnisname*</span>
      <input type="text" id="bucket" required formControlName="bucket" />
    </label>
    <div class="flex justify-around items-center gap-4">
      <button class="btn btn-outline grow" type="reset" (click)="closeDialog()">Abbrechen</button>
      <button class="btn grow" type="submit">Erstellen</button>
    </div>
  </form>
</app-dialog>
