<div class="flex items-center gap-4 py-4 justify-between border-b sticky top-0 bg-white">
	<div class="flex gap-4">
		<lib-searchbar></lib-searchbar>

		<div class="flex items-center gap-2 text-sm">
			Favoriten
			<label class="relative inline-flex items-center cursor-pointer">
				<input type="checkbox" class="sr-only peer" />
				<div
					class="w-11 h-6 bg-gray-200 rounded-full peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-300 transition-all duration-300"
				></div>
				<div
					class="absolute left-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-5"
				></div>
			</label>
		</div>
	</div>

	<button
		class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75"
	>
		Click Me
	</button>
</div>
<ul role="list" class="divide-y divide-gray-100 gap-x-6 py-4">
	@for (bucket of bucketsList; track $index) {
	<li class="flex justify-between py-3">
		<div class="flex min-w-0 gap-x-4">
			<ng-icon name="heroFolder" size="2em"></ng-icon>
			<div class="min-w-0 flex-auto">
				<p class="text-sm/6 font-semibold text-gray-900">{{ bucket.id }}</p>
				<p class="truncate text-xs/5 text-gray-500">{{ bucket.createdBy }}</p>
			</div>
		</div>
		<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
			@if (bucket.favourite) {
			<span
				class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs/5 font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
				>Favorit</span
			>
			} @else {
			<p class="text-xs/5">&nbsp;</p>
			}
			<p class="text-xs/5 text-gray-500">
				<time [attr.datetime]="bucket.created | date : dateFormat">{{ bucket.created | date : dateFormat }}</time>
			</p>
		</div>
	</li>
	}
</ul>
