<details class="dropdown dropdown-end">
  <summary class="btn btn-ghost m-1" [ngClass]="{ upload: hasActiveUploads() }">
    <ng-icon name="heroDocumentArrowUp"></ng-icon>
  </summary>
  <div class="toast toast-top toast-end z-500 space-y-2 min-w-100 max-w-[60vw] absolute top-12 right-0">
    @if (hasActiveUploads()) {
      <lib-upload-progress></lib-upload-progress>
    } @else {
      <div class="flex items-center justify-center gap-2 alert shadow-lg">Keine aktiven Uploads</div>
    }
  </div>
</details>
