/*
 * All your custom styles goes here. 
 * Simple inspect your desired element and if it holds a var() you can simple put it here for change
 */

/*
:root {
  --ladon-primary: #4d9bf4;
  --ladon-theme-black: #414141;
  --ladon-theme-white: #ffffff;
  --ladon-code: #005f6a;
  --ladon-success: #55cd97;
  --ladon-danger: #ff6455;
  --ladon-primary-80: #0d67ce;
  --ladon-secondary: #add1fa;
  --ladon-tertiary: #a64df4;
  --ladon-theme-black-120: #747474;
  --ladon-theme-gray: #dadada;
  --ladon-theme-gray-110: #f4f4f4;
  --ladon-personal-folder: #d8dfe7;
  --ladon-font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
  --ladon-system-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell;
  --ladon-font-size-base: 14px;
  --ladon-vendor-material-icons: Webix Material Icons;
  --ladon-mf-padding: clamp(2px, 3%, 1.5rem);
}

mf-ladon-main-nav #logo {
  --ladon-theme-logo-asset: url(/ui/root/assets/your-logo.png);
}
*/
