:host {
  --host-height: 100%;
  display: block;
  height: var(--host-height);
}

.avatar {
  --outer-border-color: CanvasText;

  container: avatar / inline-size;
  background: hsla(0deg, 0%, 0%, 10%);
  flex-basis: var(--avatar-size, 4lh);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px Canvas,
    0 0 0 2px var(--outer-border-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: attr(data-alias);
    text-transform: uppercase;
    color: CanvasText;
    display: block;
    font-size: 40cqw;
    line-height: 1;
  }

  &.status-success {
    --outer-border-color: var(--color-success);
  }

  &.status-neutral {
    --outer-border-color: var(--color-neutral);
  }
}

app-dialog .input {
  width: initial;
  flex-grow: 1;
}
