$black: map-get($base-colors, theme-black);
$primary: darken(map-get($base-colors, primary), 10%);
$tertiary: desaturate(map-get($variant-colors, tertiary), 20%);

code {
	background-color: fade-out($black, 0.9);
	border-radius: 3px;
	padding: 0 0.5em;

	font-family: $monospace-font-stack;
	font-size: smaller;
	line-height: 2;
	color: var(--code-color, #{map-get($base-colors, code)});

	&[data-style*="primary"] {
		--code-color: #{$primary};
		background-color: fade-out($primary, 0.9);
	}

	&[data-style*="tertiary"] {
		--code-color: #{$tertiary};
		background-color: fade-out($tertiary, 0.9);
	}
}
