/**
 * TODO: Refactor and move to _dialog.scss
 * Displaying a custom dialog with a closing button, content and controls at bottom
 * Required syntax
 * 
 <div class="host" open="false">
 <div class="dialog-wrapper">
	<div class="dialog-header">
		<button class="transparent" (click)="close()" class="close">
			<span></span>
		</button>
	</div>
	<div class="dialog-content">
	</div>
	<div class="dialog-controls">
		<button class="cancel">Abbrechen</button>
		<button class="submit">OK</button>
	</div>
</div>
</div>
*/

app-dialog,
.host {
	--dialog-min-width: 300px;
	--dialog-width: 380px;
	--dialog-height: auto;
	--backdrop-color: rgba(0, 0, 0, 0.2);

	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--backdrop-color);

	&[open="false"] {
		display: none;
	}

	&[open="true"] {
		display: initial;
	}
}

.dialog {
	&-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		width: clamp(var(--dialog-min-width), 85%, var(--dialog-width));
		height: var(--dialog-height);
		transform: translate(-50%, -50%);
		background-color: var(--ladon-theme-white);
		box-shadow: 0 5px 12px rgba(41, 41, 41, 0.2);
	}

	&-header {
		font-weight: 500;
		padding: 0.75rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-content {
		padding: 1.5rem 1rem 1.5rem;
		overflow-y: auto;

		.info {
			&--margined {
				margin-top: 1.5em;
			}
		}
	}

	&-controls {
		width: 100%;
		display: flex;
		padding: 0.75rem;

		button {
			flex: 1 1 auto;
			margin: 0 0.25rem 0;
			color: var(--ladon-theme-black);
			background-color: var(--ladon-theme-gray-110);
			border-radius: 4px;
		}
	}
}
