%input-defaults {
	appearance: none;
	outline: none;
	border: 1px solid var(--ladon-theme-gray);
	padding: 0.5em;
	margin: 0;

	font-size: 1em;
	font-family: var(--ladon-font-stack);
	line-height: 1.3;

	&:focus {
		border-color: var(--ladon-primary);
	}
}

input[type="text"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"] {
	--width: 100%;
	@extend %input-defaults;
	width: var(--width);
}

label[for] {
	display: block;
	font-size: smaller;
	color: var(--ladon-theme-black-120);
	margin-bottom: 0.5em;
	letter-spacing: 0.025em;

	&:not(:first-of-type) {
		margin-top: 1.5em;
	}
}

input[readonly] {
	background-color: var(--ladon-theme-gray-110);
}
