%list-items-defaults {
	cursor: pointer;
	padding: 0.5rem 0.75rem 0.5rem;
	display: flex;
	align-items: center;

	img {
		max-width: 1em;

		&[slot="left"] {
			margin-right: 0.5em;
		}

		&[slot="right"] {
			margin-left: 0.5em;
		}
	}

	&:is(:hover, :active, .active) {
		outline: none;
		color: var(--ladon-primary);
		opacity: 1;
	}
}

:is(.list) .list {
	> li:hover {
		@include pseudo-tag;
		&::before {
			top: 0;
			left: 0;
			bottom: 0;
			width: ($active-stick-dimension + 1);
			background-color: currentColor;
		}
	}
}

.list {
	line-height: 1.2;

	&-header {
		li {
			padding: 0.5rem;
			font-size: smaller;
			opacity: 0.5;
		}
	}

	> li {
		@extend %list-items-defaults;

		&:nth-child(2n) {
			@include border-radius(6px);
			background-color: var(--ladon-theme-gray-110);
		}

		ol,
		ul {
			li {
				@extend %list-items-defaults;
			}
		}
	}
}

dl {
	line-height: 1.4;

	dt {
		opacity: 0.5;

		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	& > div {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}
}
