.ladon-loader {
	@include border-radius(50%);

	border: 2px solid var(--ladon-theme-gray-110);
	border-top: 2px solid var(--ladon-primary);
	width: var(--loader-dimension, 2rem);
	height: var(--loader-dimension, 2rem);
	animation: spin 1s linear infinite;

	&[data-style="small"] {
		--loader-dimension: 1rem;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
