$nav-config: (
	color: var(--ladon-theme-black),
	active-color: var(--ladon-primary),
);

.navbar {
	&-host {
		@include custom-box-shadow(0 1px 3px hsl(0deg 0% 30% / 0.3));

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.5rem;
		min-height: 3rem;
	}

	&-wrapper {
		align-items: stretch;
		display: flex;
	}
}

mf-ladon-main-nav {
	display: block;
	z-index: 999;
	background-color: var(--ladon-theme-white);

	nav {
		display: flex;
		align-items: center;
		min-height: 3.5rem;

		&.active {
			display: flex;
			flex-direction: column;
			align-items: initial;

			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: var(--ladon-theme-white);
			z-index: 999;

			margin: 0;

			ul {
				display: flex;
				flex-direction: column;

				li {
					border-top: 1px solid whitesmoke;

					&:last-child {
						border-bottom: 1px solid whitesmoke;
					}

					a {
						padding: 1em;
					}
				}
			}

			#burger-button {
				align-self: flex-end;
				margin: 1rem;

				span {
					background-color: transparent;

					&::before {
						transform: rotate(40deg);
					}

					&::after {
						transform: rotate(-40deg);
					}
				}
			}
		}

		ul {
			display: none;
			height: 100%;
			align-items: stretch;
			list-style: none;

			li {
				display: flex;
				align-items: center;
				line-height: 1;
				color: map-get($nav-config, color);

				a {
					width: 100%;
					height: 100%;
					padding: 0 1em 0;
					display: flex;
					align-items: center;
					cursor: pointer;

					&:has(img) {
						gap: 0.5em;
					}

					&:hover {
						background-color: var(--ladon-theme-gray-110);
					}

					&:active {
						color: var(--ladon-primary);
						background-color: var(--ladon-theme-gray-110);
					}

					&.active {
						background-color: var(--ladon-primary);
						color: var(--ladon-theme-white);

						img[src$="ladon-slogan.svg"] {
							filter: invert(1) brightness(1.5);
						}
					}
				}
			}
		}
	}

	#burger-button {
		width: var(--ladon-burger-btn-width, 50px);
		height: var(--ladon-burger-btn-height, 30px);
		display: flex;
		align-items: center;

		span {
			width: 100%;
			display: inline-block;
			height: var(--ladon-burger-btn-bar-height, 3px);
			background-color: var(--ladon-burger-btn-bar-color, var(--ladon-theme-black));

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: inherit;
				height: inherit;
				background-color: var(--ladon-burger-btn-bar-color, var(--ladon-theme-black));
			}

			&::before {
				transform: translateY(calc((#{var(--ladon-burger-btn-bar-height, 4px)} + 2px) * -1));
			}

			&::after {
				transform: translateY(calc(#{var(--ladon-burger-btn-bar-height, 4px)} + 2px));
			}
		}
	}
}

mf-ladon-app-avatar {
	.avatar-wrapper {
		margin: 0;
		cursor: pointer;
	}
}

mf-ladon-avatar-submenu {
	position: absolute;
	display: inline-block;
	top: var(--ladon-nav-avatar-size);
	left: 0.75rem;
	transform: translate(-85%, 2rem);
	background: var(--ladon-theme-white);
	box-shadow: 0 5px 8px rgba(41, 41, 41, 0.2);

	&[open="false"] {
		display: none;
	}

	&[open="true"] {
		display: block;
	}

	nav[role="navigation"] {
		min-width: 150px;
		background: var(--ladon-theme-white);

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0;
			padding: 0;

			li:not(:first-child) {
				border-top: 1px solid whitesmoke;
			}
		}

		button {
			display: block;
			width: 100%;
			border: none;
			color: var(--ladon-theme-black);
			background: none;
			text-align: left;
			padding: 0.75em 1em 0.75em;

			&:hover {
				opacity: 0.5;
			}

			&:active {
				color: var(--ladon-primary);
			}

			&.active {
				background-color: var(--ladon-primary);
				color: var(--ladon-theme-white);
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-50%, -100%);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid var(--ladon-theme-white);
		}
	}
}

@media screen and (min-width: 625px) {
	mf-ladon-main-nav {
		#burger-button {
			display: none;
		}
		nav ul {
			display: flex;
		}
	}
}
