$spinner-config: (
	dimension: var(--ladon-spinner-dimension, 32px),
	fill: var(--ladon-spinner-fill-color, var(--ladon-primary)),
);

#ladon-spinner {
	width: map-get($spinner-config, dimension);
	padding: 4px;
	aspect-ratio: 1;
	background-color: map-get($spinner-config, fill);
	border-radius: 50%;
	box-sizing: border-box;

	mask: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
	mask-composite: subtract;
	animation: spin 1s linear infinite;
}

#ladon-spinner-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 9999;
}

:is(#ladon-spinner-backdrop) > #ladon-spinner {
	top: calc(50% - #{map-get($spinner-config, dimension)} / 2);
	left: calc(50% - #{map-get($spinner-config, dimension)} / 2);
	z-index: inherit;
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
