wc-ladon-pdfviewer {
	overflow-y: hidden;
	display: block;
	width: inherit;
	height: inherit;

	div:has(progress) {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: center;

		& progress {
			max-width: 180px;
		}
	}
}

#toolbarViewer {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	padding: 0.5rem 1rem 0.5rem;

	& > * {
		display: block;
		width: 100%;
		flex: 1 1 auto;

		&:first-child .toolbar-controls {
			font-size: 1.2em;
			justify-content: flex-start;
		}

		&:last-child .toolbar-controls {
			justify-content: flex-end;
		}
	}
}

ngx-extended-pdf-viewer {
	#toolbarViewerMiddle {
		position: initial !important; // shit to reset
		left: initial !important; // shit to reset
		transform: initial !important; // shit to reset
		margin: initial !important; // shit to reset

		display: grid;
		grid-template-columns: min-content min-content auto;
		justify-content: center;
		gap: 0.5rem;
	}

	pdf-toolbar {
		app-ladon-pdf-paging,
		app-ladon-pdf-rotate,
		.toolbar-controls {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			button > span {
				font-size: 1.5rem;
			}
		}
	}

	pdf-sidebar {
		position: initial;
		& * {
			position: initial;
		}

		#toolbarSidebar {
			display: flex;
			justify-content: space-between;

			& * {
				float: none !important;
			}

			&Left {
				display: flex;
			}

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				border-radius: 0;
				border: none;

				&[class*="toggled"] {
					background-color: var(--ladon-primary);

					path {
						fill: var(--ladon-theme-white);
					}
				}
			}
		}
	}
}
