$pill-config: (
	active: map-get($base-colors, success),
	inactive: map-get($base-colors, danger),
);

.pill {
	border-radius: 1em;
	padding: 0.5em 0.75em;
	background: var(--ladon-theme-gray-110);

	&.active {
		$color: map-get($pill-config, active);
		color: darken($color, 10%);
		background: fade-out($color, 0.9);
	}

	&.inactive {
		$color: map-get($pill-config, inactive);
		color: darken($color, 10%);
		background: fade-out($color, 0.9);
	}

	&.small {
		font-size: smaller;
	}

	&.large {
		font-size: larger;
	}
}
