.tabs {
	display: flex;
	align-items: center;

	button {
		$background: map-get($base-colors, theme-black);
		$background: map-get($base-colors, theme-white);
		// @include border-radius(4px);

		flex: 1 1 auto;
		margin: 0 0.25rem 0;
		background-color: fade-out($background, 0.95);
		border-bottom: $active-stick-dimension solid white;
		color: var(--ladon-theme-black);
		// transition: flex-grow ease('out-quart') 450ms;

		&.active,
		&:hover {
			transition: flex-grow ease("out-quart") 850ms;
			border-bottom-color: var(--ladon-primary);
			color: var(--ladon-primary);
			// flex-grow: 2;
			background-color: fade-out($background, 0.85);
		}
	}
}
