<div
  class="hidden lg:flex items-center justify-between flex-wrap py-3 px-5 border-b border-gray-300 bg-white rounded-tr-md">
  <div class="flex items-center flex-grow">
    <lib-searchbar></lib-searchbar>
  </div>
  <ul class="flex items-center gap-4">
    <li>
      <button
        class="btn btn-outline"
        popovertarget="popover-create-entity"
        style="anchor-name: --anchor-popover-create-entity">
        <ng-icon name="heroPlus" size="1.0em" class="size-4"></ng-icon>
        Hinzufügen
      </button>
      <ul
        class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm"
        popover
        id="popover-create-entity"
        style="position-anchor: --anchor-popover-create-entity">
        <li><a>Neue Datei</a></li>
        <li><a>Neuer Ordner</a></li>
        <li><a>Datei Hochladen</a></li>
      </ul>
    </li>
    <li class="inline-flex relative w-full">
      <button
        class="relative inline-flex items-center text-center align-middle font-heading border transition-all duration-300 whitespace-nowrap border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 [.active>&]:bg-primary-700 [.active>&]:border-primary-700 active:bg-primary-800 text-sm font-bold leading-4.5 px-5 py-2 tracking-wide rounded">
        Datei Hochladen
      </button>
    </li>
  </ul>
</div>
<main class="flex-grow p-6">
  <div class="flex">
    <app-filemanager-sidebar></app-filemanager-sidebar>
    <router-outlet></router-outlet>
  </div>
</main>
