<div class="flex justify-between items-center gap-4">
  <app-filter (outputTerm)="onFilterTerm($event)"></app-filter>
  <button class="btn btn-primary" (click)="createRole()">
    <ng-icon name="heroPlus" size="1.5rem" class="shrink-0" color="text-white"></ng-icon>
    <span class="hidden sm:block">Neue Rolle anlegen</span>
  </button>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-right">Aktion</th>
      </tr>
    </thead>
    <tbody>
      @for (role of filteredRoles; track role.id) {
        <tr [routerLink]="role.id" [routerLinkActive]="'bg-gray-100'" class="cursor-pointer hover:bg-gray-100">
          <td>
            <div class="flex items-center gap-4">
              <div class="avatar shrink-0 transition-colors" [attr.data-alias]="role.name | alias"></div>
              <div class="flex flex-col">
                {{ role.name }}
                @if (role.details) {
                  <span class="text-xs opacity-70">{{ role.details }}</span>
                }
              </div>
            </div>
          </td>
          <td class="text-right">
            <button class="btn cursor-pointer" (click)="duplicateRole(role)">
              <ng-icon name="heroDocumentDuplicate" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>

            <button class="btn ml-2 cursor-pointer text-red-700" (click)="deleteRole(role.id)">
              <ng-icon name="heroTrash" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div><router-outlet></router-outlet></div>
</div>

<app-dialog title="Neue Rolle anlegen">
  <form [formGroup]="roleAddGroup" class="flex flex-col gap-4" (ngSubmit)="onAddRole()">
    <label class="input" for="name">
      <span class="label">Name*</span>
      <input type="text" id="name" required formControlName="name" />
    </label>

    <label class="input" for="id">
      <span class="label">Identifikation*</span>
      <input type="text" id="id" required formControlName="id" />
    </label>

    <label class="input" for="description">
      <span class="label">Beschreibung*</span>
      <input type="text" id="description" required formControlName="description" />
    </label>

    <div class="flex justify-around items-center gap-4">
      <button class="btn btn-outline grow" type="reset" (click)="closeDialog()">Abbrechen</button>
      <button class="btn grow" type="submit" [disabled]="roleAddGroup.invalid">Erstellen</button>
    </div>
  </form>
</app-dialog>
