<div class="flex gap-4 py-8 items-center">
  <div class="avatar self-center" [attr.data-alias]="role?.name | alias"></div>

  <div class="flex flex-col gap-4 grow">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">{{ role?.name }}</h2>
      <p class="text-sm">{{ role?.details }}</p>
    </div>
  </div>
</div>

<form class="flex flex-col gap-4" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <input hidden readonly type="text" formControlName="id" />

  <fieldset class="border-t border-gray-200">
    <legend class="font-semibold mb-4 pr-4">Berechtigungen</legend>
    <div class="flex flex-wrap gap-2">
      @for (permission of patchedPermissions(); track $index) {
        <app-pill
          [class]="'btn-primary'"
          [label]="permission.permissionId"
          (labelEmit)="onLabelEmit('permission', $event)"
          (deleteEmit)="removeByType('permissionDeletion', permission)"></app-pill>
      }

      @for (permission of roleForm.get("permissions")?.value ?? []; track $index) {
        <app-pill
          [label]="permission?.['permissionId']"
          (labelEmit)="onLabelEmit('permission', $event)"
          (deleteEmit)="removeByType('permission', permission)">
        </app-pill>
      }
    </div>
    <div class="text-right">
      <button class="btn btn-primary btn-sm" type="button" (click)="openDialogType('permission')">
        <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
      </button>
    </div>
  </fieldset>

  <fieldset class="border-t border-gray-200">
    <legend class="font-semibold mb-4 pr-4">Nutzer</legend>
    <div class="flex flex-wrap gap-2">
      @for (user of patchedUsers(); track $index) {
        <app-pill
          [class]="'btn-primary'"
          [label]="user.name"
          (labelEmit)="onLabelEmit('user', user.id)"
          (deleteEmit)="removeByType('userDeletion', user)"></app-pill>
      }

      @for (user of roleForm.get("users")?.value ?? []; track $index) {
        <app-pill
          [class]="'btn-primary'"
          [label]="user['name']"
          (labelEmit)="onLabelEmit('user', user['id'])"
          (deleteEmit)="removeByType('user', user)"></app-pill>
      }
    </div>
    <div class="text-right">
      <button class="btn btn-primary btn-sm" type="button" (click)="openDialogType('user')">
        <ng-icon name="heroPlus" size="1lh" class="shrink-0" color="text-gray-500"></ng-icon>
      </button>
    </div>
  </fieldset>

  <div class="flex gap-4 justify-end">
    <button type="button" class="btn btn-outline text-red-700 border-red-700" (click)="deleteRole()">Entfernen</button>
    <button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid || roleForm.pristine">Speichern</button>
  </div>
</form>

<app-dialog [title]="dialogTitle">
  @if (dialogTitle?.includes("Berechtigung")) {
    <div class="flex flex-col gap-2">
      @for (permission of mappedPermissions(); track $index) {
        <div class="flex items-center gap-2 hover:cursor-pointer">
          <input
            #permissionCheckbox
            class="checkbox checkbox-primary"
            type="checkbox"
            [id]="permission.permissionId"
            [checked]="permission.active || checkFormPatch('permission', permission, roleForm)"
            [disabled]="permission.active"
            (click)="updateByType($event, 'permission', permission)" />
          <label for="{{ permission.permissionId }}" class="grow">{{ permission.permissionId }}</label>
        </div>
      }
    </div>
  }

  @if (dialogTitle?.includes("Nutzer")) {
    <div class="flex flex-col gap-2">
      @for (user of mappedUsers(); track $index) {
        <div class="flex items-center gap-2 hover:cursor-pointer">
          <input
            #userCheckbox
            class="checkbox checkbox-primary"
            type="checkbox"
            [id]="user.id"
            [checked]="user.active || checkFormPatch('user', user, roleForm)"
            [disabled]="user.active"
            (click)="updateByType($event, 'user', user)" />
          <label for="{{ user.id }}" class="grow">{{ user.name }}</label>
        </div>
      }
    </div>
  }
</app-dialog>
