<div class="container">
  <div class="card">
    <div class="card-header">
      {{ "PLUGIN.TITLE" | translate }}
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input
          type="search"
          required
          [(ngModel)]="filterText"
          placeholder="{{ 'PLUGIN.SEARCH_PACEHOLDER' | translate }}" />
        <kbd class="kbd kbd-sm">Ctrl F</kbd>
      </label>

      <div class="tabs tabs-lift">
        @for (channelItem of channels$ | async; track channelItem.channel) {
          <input
            (click)="changeChannel(channelItem.channel)"
            type="radio"
            name="my_tabs_3"
            class="tab"
            [class.active]="selectedChannel === channelItem.channel"
            [attr.aria-label]="channelItem.channel" />
          <div class="tab-content bg-base-100 border-base-300 p-6">
            <router-outlet></router-outlet>
          </div>
        }
      </div>
    </div>
    <!--
    <div class="search-wrapper">
      <input
                                                                                          type="search"
                                                                                          #search
                                                                                          placeholder="{{ 'PLUGIN.SEARCH_PACEHOLDER' | translate }}"
                                                                                          [(ngModel)]="filterText"
      />
    </div>


    <div class="card-content" *ngIf="!isLoading; else loader">
      <table class="list-table">
        <tr>
          <th colspan="2">{{ "PLUGIN.TITLE" | translate }}</th>
        </tr>
        <tr
                                                                                            (click)="onSelect(item)"
                                                                                            [ngClass]="{ active: item === selectedItem }"
                                                                                            *ngFor="let item of pluginlist | searchfilter : filterText"
        >
          <td>
            {{ item.name }}
            <div class="meta">
              <ng-container *ngIf="item.current === item.version; else differences">
                <code *ngIf="item.current" [attr.datacaption]="'PLUGIN.VERSION' | translate ">{{
                        item.current
                  }}</code>

              </ng-container>

              <ng-template #differences>
                <code *ngIf="item.current" [attr.datacaption]="'PLUGIN.AVAILABLE' | translate">{{
                        item.current
                  }}</code>
                <code
                                                                                                    [attr.data-style]="item.canUpdate ? 'tertiary' : 'default'"
                                                                                                    [attr.datacaption]="'PLUGIN.AVAILABLE' | translate "
                >{{ item.version }}</code
                >
              </ng-template>
            </div>
          </td>

          <td>
            <ng-container *ngIf="!item.canInstall && !item.canUpdate; else update">
              <div class="webix_icon_btn wxi-check"><span></span></div>
            </ng-container>

            <ng-template #update>
              <div class="webix_icon_btn wxi-angle-right"><span></span></div>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="iframe" slot="right">
    <ng-container *ngTemplateOutlet="iframeWithControls"></ng-container>
  </div>
</div>
-->
    <dialog #dialog>
      <div class="dialog__header">
        <button class="close" (click)="dialog.close()"><span></span></button>
      </div>
      <div class="dialog__content">
        <ng-container *ngTemplateOutlet="iframeWithControls"></ng-container>
      </div>
    </dialog>

    <ng-template #loader>
      <div id="ladon-spinner"></div>
    </ng-template>

    <ng-template #iframeWithControls>
      @if (selectedItem && selectedItem.name) {
        <plugin-progressbar
          [pluginInstalState]="pluginInstallList[selectedItem.name]"
          [plugin]="selectedItem"
          (update)="install($event)"
          (deinstall)="deinstall($event)">
        </plugin-progressbar>
      }
      <iframe width="100%" height="100%" [src]="iFrameSrc"></iframe>
    </ng-template>
  </div>
</div>
