<div role="tablist" class="tabs tabs-lift">
  @for (channelItem of channels$ | async; track channelItem.channel) {
    <a
      (click)="changeChannel(channelItem.channel)"
      role="tab"
      class="tab"
      [class.tab-active]="selectedChannel === channelItem.channel"
      [attr.aria-label]="channelItem.channel"
      >{{ channelItem.channel }}</a
    >
  }
</div>

<div class="grid grid-cols-2 gap-4 h-[calc(100%-2.5rem)]">
  <div class="h-full overflow-auto bg-base-100">
    <router-outlet></router-outlet>
  </div>

  <div class="h-full overflow-auto">
    <div id="iframe" slot="right" class="h-full">
      <ng-container *ngTemplateOutlet="iframeWithControls"></ng-container>
    </div>
    <dialog #dialog>
      <div class="dialog__header">
        <button class="close" (click)="dialog.close()"><span></span></button>
      </div>
      <div class="dialog__content">
        <ng-container *ngTemplateOutlet="iframeWithControls"></ng-container>
      </div>
    </dialog>

    <ng-template #iframeWithControls>
      @if (selectedItem$ | async; as selectedItem) {
        @if (selectedItem && selectedItem.name) {
          <plugin-progressbar
            [pluginInstalState]="pluginInstallList[selectedItem.name]"
            [plugin]="selectedItem"
            (update)="install($event)"
            (deinstall)="deinstall($event)">
          </plugin-progressbar>
        }
      }
      <iframe [src]="pluginInfoUrl$()" class="w-full h-full"></iframe>
    </ng-template>
  </div>
</div>
