<aside class="flex flex-col h-full justify-between">
  <!-- Sidebar Navigation -->
  <nav class="mt-4 px-2 relative" #nav>
    <div
      #highlight
      class="absolute top-0 left-0 w-full h-8 -z-1 border-l-4 border-primary"
      [ngStyle]="{ viewTransitionName: 'highlight' }"></div>
    <ul class="flex flex-col gap-2">
      @for (item of mainMenu(); track $index) {
        <li [ngStyle]="{ '--order': item.index, order: 'var(--order)' }" [attr.data-target]="item.target">
          <a
            (click)="invokeItem(item)"
            [ngClass]="{ 'text-primary': routerActiveLink === item.path }"
            class="flex items-center gap-1 px-2 py-1 hover:cursor-pointer hover:text-primary">
            @if (item.icon) {
              <ng-icon [name]="item.icon" style="color: currentColor"></ng-icon>
            }
            <span class="ml-3 text-sm font-medium" [ngClass]="{ hidden: sidebarCollapsed() }">{{
              item.label | translate
            }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
  <button
    (click)="collapseSidebar()"
    class="btn btn-ghost flex items-center p-4 rounded-md opacity-30 hover:opacity-100">
    @if (appStore.ui.isSidenavClosed()) {
      <ng-icon name="heroChevronDoubleRight" size="1.25rem" style="color: currentColor"></ng-icon>
    } @else {
      <ng-icon name="heroChevronDoubleLeft" size="1.25rem" style="color: currentColor"></ng-icon>
    }
  </button>
</aside>
