<aside class="border-r border-gray-100 dark:border-gray-200">
  <!-- Sidebar Navigation -->
  <nav class="mt-4 px-2">
    <ul class="space-y-1">
      @for (item of mainMenu(); track $index) {
        <li [ngStyle]="{ '--order': item.index, order: 'var(--order)' }" [attr.data-target]="item.target">
          <a
            (click)="invokeItem(item)"
            [ngClass]="{ 'text-blue-700': routerActiveLink === item.path }"
            class="flex items-center gap-1 px-2 py-1 hover:cursor-pointer hover:text-blue-700">
            @if (item.icon) {
              <ng-icon [name]="item.icon" style="color: currentColor"></ng-icon>
            }
            <span class="ml-3 text-sm font-medium" [ngClass]="{ hidden: sidebarCollapsed() }">{{
              item.label | translate
            }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</aside>
