<header class="fixed top-0 left-0 right-0 h-16 bg-white shadow-md z-50 transition-colors duration-200">
  <div class="flex items-center justify-between h-full px-4">
    <div class="flex items-center space-x-4">
      <button
        class="p-1.5 rounded-md hover:bg-gray-200 focus:outline-none transition-colors duration-200"
        (click)="toggleSidebar()"
        aria-label="Menü umschalten">
        <svg class="w-6 h-6 text-gray-600 dark:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <div class="flex items-center space-x-3 bg-white">
        <div class="w-30 p-1.5">
          <img src="public/svg/ladon-slogan.svg" alt="Ladon Slogan Logo" />
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-3">
      <div class="hidden md:block relative">
        <lib-searchbar></lib-searchbar>
      </div>

      <button
        class="p-1.5 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none transition-colors duration-200"
        (click)="toggleTheme()"
        aria-label="Farbmodus wechseln">
        <svg *ngIf="!darkMode" class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
        <svg *ngIf="darkMode" class="w-5 h-5 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
        </svg>
      </button>

      <div class="relative">
        <div class="flex items-center space-x-2 focus:outline-none">
          <lib-avatar></lib-avatar>
        </div>
      </div>
    </div>
  </div>
</header>
