<div class="shadow-sm bg-base-100 overflow-y-auto" (scroll)="onScroll($event, 'availableTasks')">
  <div
    class="flex justify-between px-4 py-2 backdrop-blur-xs bg-base-100/95"
    [ngClass]="{ 'shadow-sm': scrolledDivs['activeTasks'] }">
    Verfügbar
    <div class="flex items-center gap-2 text-sm sticky top-0">
      <label>
        Alle anzeigen
        <input type="checkbox" class="toggle toggle-primary" (change)="toggleAvailableTasks($event)" />
      </label>
    </div>
  </div>
  <div>
    <ul>
      @for (task of availableTasks$ | async; track $index) {
        <li class="px-4 py-2 flex justify-between items-center text-sm hover:bg-blue-700/10 group gap-4">
          <span (click)="selectTask(task)" class="cursor-pointer" [ngClass]="{ active: activeTask === task }">{{
            task
          }}</span>
          <button
            class="leading-none cursor-pointer invisible group-hover:visible active:scale-90"
            (click)="playTask(task)">
            <ng-icon name="heroPlayCircle"></ng-icon>
          </button>
        </li>
      }
    </ul>
  </div>
</div>

<div class="shadow-sm bg-base-100 overflow-y-auto" (scroll)="onScroll($event, 'activeTasks')">
  <div
    [ngClass]="{ 'shadow-sm': scrolledDivs['activeTasks'] }"
    class="flex px-4 py-2 sticky top-0 backdrop-blur-xs bg-base-100/95">
    Aktiv
  </div>
  <div>
    <ul>
      @for (task of activeTasks$ | async; track task.percent) {
        <li class="px-4 py-2 flex items-center text-sm hover:bg-blue-700/10 group gap-4">
          {{ task.name }}
          <progress [value]="task.percent" max="100"></progress>
          <button
            class="flex leading-none cursor-pointer invisible group-hover:visible active:scale-90"
            (click)="stopTask(task.id)">
            <ng-icon name="heroStopCircle"></ng-icon>
          </button>
        </li>
      }
    </ul>
  </div>
</div>

<div class="shadow-sm bg-base-100 overflow-y-auto" (scroll)="onScroll($event, 'availableLogs')">
  <div
    [ngClass]="{ 'shadow-sm': scrolledDivs['availableLogs'] }"
    class="flex px-4 py-2 sticky top-0 backdrop-blur-xs bg-base-100/95">
    Ausgaben-Log
  </div>
  <div>
    <ul>
      @for (log of availableLogs; track $index) {
        <li class="px-4 py-2 flex-col text-sm">
          <p class="font-bold">{{ log.created | date: "dd.MM.yyyy" }}</p>
          <ul>
            @for (l of log.logs; track $index) {
              <li class="px-4 py-2 cursor-pointer hover:bg-blue-700/10" (click)="invokeLog(l)">
                <span class="block" [ngClass]="{ active: activeLog === l.key }">{{ l.key }}</span>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </div>
</div>

<div class="shadow-sm bg-base-100 overflow-y-auto" (scroll)="onScroll($event, 'activeLog')">
  <div
    class="flex px-4 py-2 sticky top-0 backdrop-blur-xs bg-base-100/95"
    [ngClass]="{ 'shadow-sm': scrolledDivs['activeLog'] }">
    Log
  </div>
  <div class="px-4 py-2">
    <pre class="text-xs/5 p-2 bg-stone-500/10 border-1 border-stone-500/50 overflow-auto rounded-sm empty:invisible">{{
      activeLog$ | async
    }}</pre>
  </div>
</div>
