:host {
  --min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{var(--min-width)}, 1fr));
  gap: var(--gap, 1rem);
  height: 100vh;
  background-color: var(--color-stone-100);

  padding: var(--padding, calc(#{var(--spacing)} * 3));
}

li:has(> span.active) {
  background-color: color-mix(in oklch, var(--color-blue-700), transparent 90%);
}

progress {
  appearance: none;
  flex-grow: 1;
  height: 0.5lh;

  &::-webkit-progress-bar {
    border-radius: 0.5em;
    background-color: var(--color-stone-200);
  }

  &::-moz-progress-bar {
    border-radius: 0.5em;
    background-color: var(--color-stone-200);
  }

  &::-webkit-progress-value {
    border-radius: 0.5em;
    background-color: var(--color-blue-700);
  }

  &::-moz-progress-value {
    border-radius: 0.5em;
    background-color: var(--color-blue-700);
  }
}

@media screen and (min-width: 855px) {
  :host {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :host {
    background-color: var(--color-stone-800);
  }
}
