<div class="progress-wrapper">
  <div class="progress-wrapper__infos">
    @if (plugin?.current === plugin?.version) {
      @if (plugin?.current) {
        <app-pill
          [class]="'bg-success/30'"
          [attr.datacaption]="'PLUGIN.VERSION' | translate"
          [label]="plugin?.current"
          [isDeletable]="false"></app-pill>
      }
    } @else {
      @if (plugin?.current) {
        <app-pill [class]="'bg-success/30'" [label]="plugin?.current" [isDeletable]="false"></app-pill>
      }
      @if (isProgressVisible) {
        <progress id="file" class="progress progress-success" value="{{ pluginInstalState?.progress }}" max="100">
          {{ pluginInstalState?.progress }}
        </progress>
      }
      <app-pill
        [class]="plugin?.canUpdate ? 'bg-primary/30' : 'bg-success/30'"
        [attr.datacaption]="plugin?.canUpdate ? ('PLUGIN.CAN_UPDATE' | translate) : ('PLUGIN.CAN_INSTALL' | translate)"
        [label]="plugin?.version"
        [isDeletable]="false"></app-pill>
    }
  </div>

  <div class="progress-wrapper__controls">
    @if (plugin?.canDeinstall && !isProgressVisible) {
      <button
        (click)="onDeinstall()"
        size="small"
        class="btn btn-outline btn-error"
        [disabled]="pluginInstalState && pluginInstalState.state === 'IN_PROGRESS'">
        {{ "PLUGIN.PROGRESSBAR.DEINSTALL" | translate }}
      </button>
    }

    @if (plugin?.canUpdate || plugin?.canInstall) {
      <button
        class="btn btn-primary"
        (click)="onUpdate()"
        [disabled]="pluginInstalState && pluginInstalState.state === 'IN_PROGRESS'">
        {{ buttonLabel }}
      </button>
    }
  </div>
</div>
